<!-- SIDEBAR START -->
<div class="Sidebar" id="sidebar">
    <!-- logo -->
    <div class="dashboard_logo p-3">
        <img src="assets/images/svg-img/logo.svg" class="img-fluid">
    </div>
    <div class="sidebar_navbar sidebar_scroll">
        <ul>
            <li class="active"><a routerLink="{{componenetRoutes.HOME}}"><img src="assets/images/svg-img/dashboard.svg"><span>Dashboard</span></a></li>
            <li><a routerLink="{{componenetRoutes.CAMPAIGNS}}"><img src="assets/images/svg-img/campaigns.svg"><span>Campaigns</span></a></li>
            <li><a routerLink="{{componenetRoutes.TASKCALENDAR}}"><img src="assets/images/svg-img/calender&task.svg"><span>Tasks /
                        Calendar</span></a>
            </li>
            <li><a><img src="assets/images/svg-img/Email.svg"><span>Email
                        Functionality</span></a></li>
            <li><a><img src="assets/images/svg-img/agency-room.svg"><span>Agency
                        Room</span></a></li>
        </ul>
    </div>
</div>