<!-- user-auth.component.html -->
<div class="single_page">
    <img src="assets/images/png-img/background-img.png" class="background_img">
    <div class="container d-flex align-items-center justify-content-center h-100 py-5 p-0">
        <div class="row justify-content-center login_middle_content">
            <div class="col-md-6">
                <img src="assets/images/svg-img/logo.svg" class="img-fluid logo">
            </div>
            <div class="col-md-6 login_details">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
