<!-- single leads user details  -->
<div class="p-4">
    <div class="white_card_background p-4  mb-3 d-flex justify-content-between single_details">
        <div class="">
            <div class="d-flex align-items-center gap-3 mb-2">
                <h2 class="large-text  Semibold mb-0">Rashmi Rajput</h2>
                <h5 class="Caption Semibold mb-0  Hired_bg px-3 py-2 green">Good</h5>
            </div>
            <h3 class="Caption Semibold mb-0">UI/UX Designer </h3>
        </div>
        <div class="">
            <h3 class="Caption Semibold mb-3">Created Date : 18-04-2024 </h3>
            <div class="dropdowns d-flex justify-content-end">
                <a class="CVRequest dropdown_toggle py-2 px-3" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    CV Request
                </a>
    
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Unprocessed</a></li>
                    <li><a class="dropdown-item" href="#">Hired</a></li>
                    <li><a class="dropdown-item" href="#">Not Reached </a></li>
                    <li><a class="dropdown-item" href="#">Interview</a></li>
                    <li><a class="dropdown-item" href="#">CV Request</a></li>
                    <li><a class="dropdown-item" href="#">In Contact</a></li>
    
                </ul>
            </div>
        </div>
    </div>
    <div class="row  contentSection">
        <!-- single leads profile tabs component -->
        <app-single-lead-profile class="col-md-6 mb-4"></app-single-lead-profile>
        <!-- single leads contact tabs component -->
        <app-single-lead-contact class="col-md-6 mb-4"></app-single-lead-contact>
    </div>
</div>