<!-- forgotpassword.component.html -->
 @if(currentState===ForgotPasswordState.ForgotPassword){
<div class="login_background">
    <div class="d-flex flex-column login_content">
        <a routerLink="/">
            <img src="assets/images/svg-img/login-left-arrow.svg" width="30" height="50">
        </a>
        <div class="login_text">
            <h1 class="Semibold mb-3 Heading">Forgot password</h1>
            <h2 class="light mb-0 Sub-Heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h2>
        </div>
        <div>
            <app-input-text-field type="text" placeholder="E-mail" className="mb-3"></app-input-text-field>
        </div>
        <div>
            <a><app-action-button title="Send OTP" (click)="goToVerifyOtp()"></app-action-button></a>
        </div>
    </div>
</div>
 }
 

<!-- New password component -->
@if(currentState===ForgotPasswordState.NewPassword){
<div class="login_background">
    <div class="d-flex flex-column login_content">
        <a (click)="goToVerifyOtp()">
            <img src="assets/images/svg-img/login-left-arrow.svg" width="30" height="50">
        </a>
        <div class="login_text">
            <h1 class="Semibold mb-3 Heading">New password</h1>
            <h2 class="light mb-0 Sub-Heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do
                eiusmod tempor
                incididunt ut labore </h2>
        </div>
        <div>
            <input type="text" placeholder="New password" class="input_field py-3 p-2 mb-3">
            <input type="text" placeholder="Confirm password" class="input_field py-3 p-2 mb-2">
        </div>
        <div>
            <app-action-button title="Set password" ></app-action-button>
        </div>
    </div>
</div>
}
<!-- verify otp -->
@if(currentState===ForgotPasswordState.VerifyOtp){
<div class="login_background">
    <div class="d-flex flex-column login_content">
        <a (click)="goToForgotPassword()">
            <img src="assets/images/svg-img/login-left-arrow.svg" width="30" height="50">
        </a>
        <div class="login_text">
            <h1 class="Semibold mb-3 Heading">Verify OTP</h1>
            <h2 class="light mb-1 Sub-Heading">Enter the verification code send on</h2>
            <h2 class="light Sub-Heading">dollopinfotechgmail.com <span
                    class="action_color Regular ms-2 mx-0 cursor">Edit <img src="assets/images/svg-img/edit.svg"></span>
            </h2>
        </div>
        <div class="otp">
            <input *ngFor="let i of [0, 1, 2, 3]" class="otp_field"
                [(ngModel)]="otpFields[i]" />
        </div>
        <div>
            <a><app-action-button title="Verify" (click)="goToNewPassword()"></app-action-button></a>
        </div>
    </div>
</div>
}