   <!-- Received Emails -->
   
   <div class="white_card_background p-3 h-100">
    <h2 class="card_heading Sub-Heading Medium mb-3">Received Emails(10)</h2>
    <div class="d-flex gap-3 flex-column">
        <div class="secondary_card_background p-3 d-flex gap-3">
            <img src="assets/images/svg-img/user-icon.svg" class="recive_email_icon">
            <div class="Received_Emails">
                <h2 class="mb-2 medium-text Medium">E-candidate</h2>
                <h2 class="mb-0 small-text Regular">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolo
                </h2>
            </div>
        </div>
        <div class="secondary_card_background p-3 d-flex gap-3">
            <div class="user_name_icon">
                <span>R</span>
            </div>
            <div class="Received_Emails">
                <h2 class="mb-2 medium-text Medium">E-candidate</h2>
                <h2 class="mb-0 small-text Regular">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolo
                </h2>
            </div>
        </div>
        <div class="secondary_card_background p-3 d-flex gap-3">
            <img src="assets/images/svg-img/user-icon.svg" class="recive_email_icon">
            <div class="Received_Emails">
                <h2 class="mb-2 medium-text Medium">E-candidate</h2>
                <h2 class="mb-0 small-text Regular">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolo
                </h2>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <a href="email.html" class="primary_btn medium-text Medium mt-3">
            Compose
        </a>
    </div>
</div>
